<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/logo-ec.jpg" alt="Logo" class="logo">
    <p><b>E-commerce Mock Site</b></p>
    <span class="first-spacer"></span>
    <button mat-button>
      <mat-icon>inventory_2</mat-icon>
      Catalog
    </button>
    <span class="second-spacer"></span>
    <button mat-button>
      <mat-icon>shopping_cart_checkout</mat-icon>
      Go To My Cart
    </button>
    <span class="third-spacer"></span>
    <button mat-button>
      <mat-icon>account_circle</mat-icon>
      My Account
    </button>
    <span class="icon-spacer"></span>
    <mat-icon>settings</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

