.first-spacer{
  flex: 0.3 1 auto;
}

.second-spacer{
  flex: 0.5 1 auto;
}

.third-spacer{
  flex: 0.5 1 auto;
}

.icon-spacer{
  flex: 0.5 1 auto;
}

button{
  font-size: large;
}

p{
  padding-top: 10px;
}

.logo{
  height: 62px;
  width: 72px;
}

.icon{
  height: 30px;
  width: 30px;
}
