<app-search-bar class="s-b-front" (searchTextChanged)="onSearchTextEntered($event)"
(sortStyle)="updateStyle()"></app-search-bar>

  <ng-container [ngTemplateOutlet]="myTemplate"></ng-container>

<ng-template #myTemplate>
<body  [style.flex-flow]="flexFlow">
  <mat-card *ngFor="let product of products | filter:searchText:'title':filterBy" class="front-element">
    <ng-container *ngIf="searchText === '' || product.title.toLowerCase().includes(searchText.toLowerCase())">
            <mat-card-title-group>
              <img mat-card-image src={{product.image}} alt="Image of Product" class="picture">
              <mat-card-title><b>{{product.title}}</b></mat-card-title>
              <mat-card-subtitle>Category: {{product.category}}</mat-card-subtitle>
              <mat-card-subtitle>Price: <b>{{product.price}}€</b></mat-card-subtitle>
              <mat-card-subtitle>Description: {{product.description | collapse}}</mat-card-subtitle>
            </mat-card-title-group>
          </ng-container>
  </mat-card>
</body>
</ng-template>
