body{
  padding-bottom: 15px;
}

.input-cont{
  width: 350px;
  height: 55px;
  background-color: gray;
  margin-right: 20px;
}

.spacer{
  flex-grow: 0.1;
}

.select-cont{
  background-color: gray;
  height: 55px;
}

button{
  margin-left: 20px;
  margin-top: 5px;
}

