<body>
  <mat-form-field class="input-cont" appearance="outline">
    <input matInput autofocus type="text" placeholder="Search" [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchTextChanged()">
  </mat-form-field>
  <span class="spacer"></span>
  <mat-form-field appearance="outline" class="select-cont">
    <mat-select placeholder="Filter By">
      <mat-option>None</mat-option>
      <mat-option value="Starts with">Starts with</mat-option>
      <mat-option value="Ends with">Ends with</mat-option>
      <mat-option value="Equal to">Equal to</mat-option>
      <mat-option value="Includes">Includes</mat-option>
    </mat-select>
  </mat-form-field>
</body>
