.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  align-self: center;
  flex-wrap: nowrap;
}

.mat-app-background{
  height: max-content;
}

.s-b-cont{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: max-content;
  height: fit-content;
}

.spacer{
  flex-grow: 1;
}

app-sidebar{
  position: sticky;
  top: 0%;
}
