<body>
  <mat-sidenav-container>
    <mat-nav-list>
      <a mat-list-item>
        <span>
          <mat-icon>home</mat-icon>
          Home
        </span>
      </a>
      <a mat-list-item>
        <span>
          <mat-icon>info</mat-icon>
          About Us
        </span>
      </a>
      <a mat-list-item>
        <span>
          <mat-icon>contacts</mat-icon>
          Contact Us
        </span>
      </a>
      <a mat-list-item>
        <span>
          <mat-icon>help</mat-icon>
          Help
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav-container>
</body>
